# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<head>
<title> HOMEPAGE </title>
</head>
<body>
<h1> Homepage </h1>
<p1> Das ist meine Hompage und hier erarbeite Fortschritte in Sachen Informatik </p!>
